:root {
    --color-1: #000957;
    --color-2: #344CB7;
    --color-3: #577BC1;
    --color-4: #EBE645;
    --color-5: #94b5f8;
}

header {
    height: 40vh;
    width: 100%;
    margin-bottom: 50px;
}

header .background::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

header .background {
    width: 100%;
    height: 100%;
    position: relative;
}

header .background img {
    width: 100%;
    height: 100%;
}

header .title {
    margin-top: 20px;
}

.packages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.packages .packages-title {
    text-align: center;
    line-height: 0.1;
    margin-bottom: 30px;
}

.packages .packages-title p {
    font-size: 22px;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
}

.packages .packages-title h1 {
    font-family: 'Amatic SC', cursive;
    font-size: 60px;
    text-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    color: rgba(0, 0, 0, 1);
}

.packages .container {
    display: flex;
    flex-wrap: wrap;
}

.packages .card {
    width: 350px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.packages .banner {
    margin-bottom: 25px;
    width: 100%;
    height: 180px;
}

.packages .banner img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}

.packages .content {
    width: 100%;
    padding: 0 15px 0 15px;
}

.packages .title {
    margin-bottom: 15px;
}

.packages .content h3 {
    text-transform: capitalize;
    font-weight: 600;
}

.packages .description {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}

.packages .description p {
    line-height: 35px;
}

.packages .information {
    display: flex;
}

.packages .price {
    margin-bottom: 30px;
}

.packages .price p {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    color: var(--color-3);
}

.packages .price p span {
    color: rgb(4, 168, 45);
    font-weight: 700;
    font-size: 25px;
    padding: 5px;
}

.packages .material-icons {
    background-color: var(--color-5);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    text-align: center;
    color: var(--color-1);
    margin-right: 10px;
    line-height: 35px;
}

.packages .buttons {
    display: flex;
    justify-content: space-around;
}

.packages .button {
    padding: 10px;
    border-radius: 5px;
}

.packages .button-1 {
    background-color: var(--color-2);
    color: white;
}

.packages .button-2 {
    background-color: var(--color-5);
    color: var(--color-1); 
}

.packages a {
    text-decoration: none;
}

@media (max-width: 575.98px) {
    header {
        height: 20vh;
        width: 100%;
        margin-bottom: 50px;
    }

    header .background {
        display: flex;
        justify-content: center;
    }

    header .background img {
        width: 100%;
        height: 100%;
        text-align: center;
    }

}