/* Potrait Mobile Version */
@media (max-width: 575.98px) {

    body {
        overflow-x: hidden;
    }

    body h1 {
        font-size: 23px;
        font-weight: 600;
    }

    body h2 {
        font-size: 20px;
        font-weight: 400;
    }

    body h3 {
        font-size: 18px;
    }

    body p {
        font-size: 15px;
    }
    
    body nav {
        padding: 10px;
    }

    body .carousel, .hero, .destination, .branding {
        filter: blur();
    }

    nav {
        position: fixed;
        height: 65px;
        width: 100%;
        /* overflow: hidden; */
        z-index: 999;
    }

    nav .logo {
        height: 70%;
        width: auto;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        float: left;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        align-items: center;
        z-index: 1;
        height: 50vh;
        width: 100%;
        background-color: var(--color-1);
        transform: translateY(-100%);
        transition: all .5s;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li ul {
        width: 100%;
    }

    nav ul.slide {
        transform: translateY(0);
    }

    nav .toggle-menu {
        display: flex;
        z-index: 2;
    }

    
    /* Animation Toggle Menu */
    .toggle-menu span:nth-child(2) {
        transform-origin: 0 0;
    }
    
    .toggle-menu span:nth-child(4) {
        transform-origin: 0 100%;
    }
    
    .toggle-menu input:checked ~ span:nth-child(2){
        transform: rotate(45deg) translate(-1px, 1px);    
        background-color: white;
    }
    
    .toggle-menu input:checked ~ span:nth-child(4){
        transform: rotate(-45deg) translate(-2px, 0);
        background-color: white;
    }
    
    .toggle-menu input:checked ~ span:nth-child(3){
        opacity: 0;
        transform: scale(0);
    }

    .carousel.blur-effect,
    .about.blur-effect,
    .destination.blur-effect,
    .branding.blur-effect,
    .gallery.blur-effect,
    .footer.blur-effect {
        filter: blur(3px);
        pointer-events: none;
        user-select: none;
    }
    
    .about, .destination, .gallery {
        padding-top: 70px;
    }

    .about .contain {
        padding: 0 20px;
    }

    .about img {
        width: 100%;
    }

    .carousel .carousel-indicators {
        bottom: -15px;
    }

    .carousel .carousel-indicators button {
        height: 12px;
        width: 12px;
        margin: 5px;
        border-radius: 50%;
    }

    .carousel .carousel-item {
        height: 100%;
        background: no-repeat scroll center scroll;
        background-size: cover;
    }

    .carousel .carousel-caption {
        bottom: 60px;
    }

    .carousel .slide-1 h1 {
        font-size: 35px;
    }
    
    .carousel .slide-1 button {
        font-size: 12px;
    }

    .carousel .slide-2 {
        bottom: 70px;
    }
    
    .carousel .slide-2 h1 {
        font-size: 30px;
    }

    .carousel .slide-3 button {
        font-size: 12px;
        margin-bottom: 5px;
        padding: 5px 10px;
    }

    .carousel .slide-3 h1 {
        font-size: 22px;
    }

    .destination h3 {
        font-size: 30px;
    }

    .destination .card {
        width: 140px;
        height: 160px;
        margin: 10px;
    }

    .destination img {
        height: 10em;
    }

    .destination .price {
        position: inherit;
        transform: translateY(0);
        background-color: var(--color-4);
        padding-top: 5px;
    }

    .destination .price p {
        font-weight: 400;
        font-size: 15px;
        color: var(--color-1);
    }
    
    .destination .price span {
        font-size: 18px;
    }

    .destination .card .go-to {
        display: none;
    }

    .branding {
        margin-top: 70px;
    }

    .branding .card {
        width: 100%;
        margin: 10px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
        transition: .5s;
    }

    footer {
        margin-top: 70px;
    }
    
    footer .column-1 {
        margin-bottom: 30px;
    }

    footer .column-2 {
        margin-bottom: 25px;
    }

    footer h3 {
        margin-bottom: 15px;
        text-align: start;
    }

}