/* Potrait Mobile Version */
@media (max-width: 575.98px) {

    body {
        overflow: hidden;
    }

    body h1 {
        font-size: 26px;
    }

    body h2 {
        font-size: 23px;
    }

    body h3 {
        font-size: 18px;
    }

    body p {
        font-size: 15px;
    }
    
    body nav {
        /* background-color: var(--color-4); */
        padding: 10px;
    }

    nav {
        height: 65px;
        overflow: hidden;
    }

    nav .logo {
        height: 70%;
        width: auto;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-evenly;
        z-index: 1;
        height: 70vh;
        width: 30vh;
        background-color: var(--color-1);
        transform: translateX(100%);
        transition: all .5s;
    }

    nav .toggle-menu {
        display: inherit;
    }

    .destination h3 {
        font-size: 30px;
    }

    .destination .card {
        width: 140px;
        height: 160px;
        margin: 10px;
    }

    .destination img {
        height: 10em;
    }

    .destination .price {
        position: inherit;
        transform: translateY(0);
        background-color: var(--color-4);
        padding-top: 5px;
    }

    .destination .price p {
        font-weight: 400;
        font-size: 15px;
        color: var(--color-1);
    }
    
    .destination .price span {
        font-size: 18px;
    }

    .branding .card {
        width: 160px;
        margin: 10px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
        transition: .5s;
    }

}