* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .5s;
}

:root {
    --color-1: #000957;
    --color-2: #344CB7;
    --color-3: #577BC1;
    --color-4: #EBE645;
}

body {
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;
}


body h1 {
    font-size: 32px;
    text-transform: capitalize;
    text-align: center;   
    color: var(--color-1);
}

body h2 {
    font-size: 27px;
    font-weight: 600;
}

body h3 {
    font-size: 22px;
    font-weight: 500;
}

body p {
    font-size: 17px;
}

nav {
    display: flex;
    position: fixed;
    height: 90px;
    width: 100%;
    padding: 10px 75px;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    z-index: 999;
}

nav .logo {
    height: 100%;
    width: auto;
}

nav .logo img {
    height: 100%;
    width: auto;
}

nav ul {
    display: flex;
    /* margin: auto; */
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-3);
    font-size: 17px;
    font-weight: 400;
}

nav ul li a:hover {
    color: white;
}

nav .toggle-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    display: none;
}

nav .toggle-menu input {
    position: absolute;
    width: 44px;
    height: 28px;
    opacity: 0;
    left: -8px;
    top: -4px;
    cursor: default;
}

nav .toggle-menu span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: var(--color-3);
    border-radius: 3px;
    transition: all .5s;
}

nav.active {
    background-color: var(--color-1);
}

.carousel .carousel-indicators button {
    height: 20px;
    width: 20px;
    margin: 10px;
    border-radius: 50%;
}

.carousel .carousel-item {
    height: 100vh;
    background: no-repeat scroll center scroll;
    background-size: cover;
}

.carousel .carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.6;
}

.carousel .carousel-caption {
    bottom: 200px;
}

.carousel .slide-1 h1 {
    font-family: 'The Nautigal', cursive;
    font-weight: 700;
    font-size: 100px;
    color: white;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
    animation-duration: 1.8s;
}

.carousel .slide-1 button {
    background-color: var(--color-4);
    color: var(--color-1);
    font-size: 25px;
    border-radius: 10px;
    border: none;
    animation-duration: 1.8s;
}

.carousel .slide-1 button:hover {
    color: var(--color-3);
}

.carousel .slide-2 h1 {
    font-family: 'Sacramento', cursive;
    font-weight: 700;
    font-size: 80px;
    color: white;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.5);
    animation-duration: 1.8s;
}

.carousel .slide-3 button {
    background-color: var(--color-3);
    padding: 5px 20px;
    align-items: center;
    border: none;
    margin-bottom: 15px;
    font-size: 30px;
    cursor: default;
    color: var(--color-4);
    animation-duration: 1.8s;
}


.carousel .slide-3 h1 {
    font-family: 'Patrick Hand', cursive;
    font-size: 70px;
    color: white;
    animation-duration: 1.8s;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
    animation-duration: 1.8s;
}

.destination {
    margin-top: 60px;
}

.destination h2 {
    color: var(--color-2);
}

.destination h2 {
    text-transform: capitalize;
    text-align: center;
}

.destination  h3 {
    font-weight: 700;
    font-size: 60px;
    color: white;
    font-family: 'Amatic SC', cursive;
    text-shadow: 5px 5px 10px rgba(0,0,0,0.8);  
}

.destination .contain {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.destination a {
    text-decoration: none;
}
.destination .cover {
    background-color: red;
    width: 300px;
    height: 200px;
}

.destination .card {
    margin: 15px;
    border: none;
    width: 320px;
    height: 250px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.destination .card img {
    width: 100%;
    height: 100%;
    
}

.destination .card .title {
    width: 100%;
    position: absolute;
    text-align: center;
}

.destination .price {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    border-radius: 0;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .5s;
    transform: translateY(300px);
}

.destination .price p {
    font-weight: 400;
    font-size: 25px;
}

.destination .price span {
    font-weight: 600;
    font-size: 27px;
    background: -webkit-linear-gradient(left, #079e1b, #000957);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.destination .card:hover .price {
    transform: translateY(0);
}

.destination .card .go-to {
    background-color: var(--color-4);
    font-size: 17px;
    color: var(--color-2);
    padding: 8px;
    border-radius: 8px;
}

.destination .card .go-to:hover {
    color: var(--color-1);
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

/* BRANDING Section */
.branding {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-4);
    padding: 50px 0;
    width: 100%;
    background-image: url('../img/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.branding .contain {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.branding .card {
    padding: 20px 20px 10px 20px;
    width: 230px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
    transition: .5s;
}

.branding .card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-15px);
    transition: .5s;
}

.branding h3 {
    text-transform: capitalize;
    margin-bottom: 15px;
}

.branding h3, p {
    color: var(--color-1);
}

.branding i {
    color: var(--color-4);
}

.branding p {
    font-weight: 400;
    color: var(--color-1);
}

.gallery {
    margin-top: 60px;
}

.gallery .contain {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery .title {
    width: 100%;
    text-align: center;
    color: var(--color-2);
}

.gallery .wrapper .photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery img {
    width: 250px;
    height: auto;
    margin: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
}

footer {
    margin-bottom: 0;
    margin-top: 60px;
    background-color:var(--color-1);
    text-align: center;
    color: white;
    padding: 40px 20px;  
}

footer h3 {
    margin-bottom: 40px;
}

footer .contain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer .column {
    display: flex;
    flex-direction: column;
    padding: 0 70px;
}

footer .column-1 {
    align-items: center;    
}

footer .column img {
    width: 70%;
    height: auto;
}

footer .column i {
    color: var(--color-3);
    margin-right: 10px;
    font-size: 20px;
}

footer .column i:hover {
    color: white;
}

footer .column p {
    color: var(--color-3);
    text-align: start;
}

footer .column p:hover {
    color: white;
}

footer .column .contact-info a {
    display: flex;
    text-decoration: none;
}

footer .logo img {
    height: 100px;
    width: auto;
}

footer i {
    color: red;
}

footer p {
    color: white;
}